*{
    padding: 0;
    margin: 0;
}
body{
    background-color: rgb(53, 54, 58);
    font-family: Roboto, 'Segoe UI', Tahoma, sans-serif;
}
.logo{
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 150px;
    margin: 0px 0px 36px;
}
.logo h1{
    color: #fff;
    font-size: 81px;
    font-weight: 700;

}
input{
    display: flex;
    text-align: center;
    padding: 1px 44px 1px 52px;
    width: 337px;
    height: 44px;
    border-radius: 50px;
    border: none;
}
input:active{
    border: none;
    outline: none;
}